include:
  - "$SERVICE_PATH/deployment/workflows/initial.yaml"
configuration:
  INGRESS_TEMPLATE: "$BLUE_GREEN_INGRESS_PATH"
steps:
  - name: update blue deployment
    type: script
    file: "$SERVICE_PATH/deployment/scale_deployments"
    after: create deployment