include:
  - "$SERVICE_PATH/values.yaml"
configuration:
  INGRESS_TEMPLATE: "$INITIAL_INGRESS_PATH"
steps:
  - name: build context
    type: script
    file: "$SERVICE_PATH/deployment/build_context"
    output:
      - name: CONTEXT
        type: environment
      - name: SCOPE_VISIBILITY
        type: environment
      - name: SCOPE_DOMAIN
        type: environment
      - name: OUTPUT_DIR
        type: environment
      - name: DEPLOYMENT_ID
        type: environment
      - name: BLUE_DEPLOYMENT_ID
        type: environment
  - name: update blue deployment
    type: script
    file: "$SERVICE_PATH/deployment/scale_deployments"
  - name: rollback traffic
    type: script
    file: "$SERVICE_PATH/deployment/networking/gateway/rollback_traffic"
    configuration:
      TEMPLATE: "$INGRESS_TEMPLATE"
    output:
      - name: INGRESS_FILE
        type: file
        file: "$OUTPUT_DIR/ingress-$SCOPE_ID-$BLUE_DEPLOYMENT_ID.yaml"
  - name: apply traffic
    type: script
    file: "$SERVICE_PATH/apply_templates"
    configuration:
      ACTION: apply
      DRY_RUN: false
    post:
      name: verify_networking_reconciliation
      type: script
      file: "$SERVICE_PATH/deployment/verify_networking_reconciliation"
  - name: build deployment
    type: script
    file: "$SERVICE_PATH/deployment/build_deployment"
    output:
      - name: DEPLOYMENT_PATH
        type: file
        file: "$OUTPUT_DIR/deployment-$SCOPE_ID-$DEPLOYMENT_ID.yaml"
      - name: SECRET_PATH
        type: file
        file: "$OUTPUT_DIR/secret-$SCOPE_ID-$DEPLOYMENT_ID.yaml"
      - name: SCALING_PATH
        type: file
        file: "$OUTPUT_DIR/scaling-$SCOPE_ID-$DEPLOYMENT_ID.yaml"
      - name: SERVICE_TEMPLATE_PATH
        type: file
        file: "$OUTPUT_DIR/service-$SCOPE_ID-$DEPLOYMENT_ID.yaml"
  - name: delete deployment
    type: script
    file: "$SERVICE_PATH/apply_templates"
    configuration:
      ACTION: delete
      DRY_RUN: false
    post:
      name: delete_cluster_objects
      type: script
      file: "$SERVICE_PATH/deployment/delete_cluster_objects"
      configuration:
        DEPLOYMENT: green
  - name: print_deployment_error_hints
    type: script
    file: "$SERVICE_PATH/deployment/print_failed_deployment_hints"
