continue_on_error: true
include:
  - "$SERVICE_PATH/values.yaml"
steps:
  - name: build context
    type: script
    file: "$SERVICE_PATH/diagnose/build_context"
    output:
      - name: CONTEXT
        type: environment
      - name: LABEL_SELECTOR
        type: environment
  - name: load_functions
    type: script
    file: "$SERVICE_PATH/diagnose/utils/diagnose_utils"
    output:
      - name: update_check_result
        type: function
        parameters:
          status: string
          evidence: object
      - name: notify_results
        type: function
  - name: diagnose
    type: executor
    after_each:
      name: notify_check_results
      type: script
      file: "$SERVICE_PATH/diagnose/notify_diagnose_results"
    folders:
      - "$SERVICE_PATH/diagnose/service"
      - "$SERVICE_PATH/diagnose/scope"
      - "$SERVICE_PATH/diagnose/networking"